<form class="form-auth" ng-submit="login()">
	<h2 style="color: white;" class="animated rotateIn"> Log In </h2>
	<p class="text-warning"> {{error_message}} </p>
	<input type="username" ng-model="user.username" placeholder="Username" class="form-control animated rotateIn"><br>
	<input type="password" ng-model="user.password" placeholder="Password" class="form-control animated rotateIn"><br>
	<input type="submit" id="logInButton" value="Log in" class="btn btn-primary animated rotateIn" />
</form>
