html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
    height: 100%;
    background-color: black;
    font-size: 13px;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}

.odd {
	background-color: #f2f9ff;
	
}

.even {
	background-color: #eceff3;
}

* { 
	margin: 0; 
	padding: 0; 
	box-sizing: 
	border-box; 
}

#mainControls {
	margin-left: 50px;
}

#loginControls {
	margin-right: 150px;
}

@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }

    .navbar-collapse.collapse {
        display: none!important;
    }

    .navbar-nav {
        float: none!important;
        margin: 7.5px 0px;
    }

    .navbar-nav>li {
        float: none;
    }

    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .navbar-text {
        float: none;
        margin: 15px 0;
    }

    .navbar-collapse.collapse.in { 
        display: block!important;
    }

    .collapsing {
        overflow: hidden!important;
    }
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

#chat { 
    background-color: white;
    border: 2px solid whitesmoke;
    position: fixed; 
    bottom: 0; 
    right: 0; 
    width: 24%; 
    height: 60%; 
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

#chatHeader { 
	position: fixed; 
	bottom: 55.1%; 
	right: 0;
	width: inherit;
	background-color: #da0b0b;
	border: 2px solid whitesmoke;
	padding: 2px;
}

#firstLi {
	color : white;
	list-style-type: none; 
	background: #da0b0b; 
	text-align: center; 
}

#messages { 
	list-style-type: none;
	margin: 0; 
	padding: 0; 
	overflow: scroll; 
}

#messages li { 
	padding: 5px 10px; 
	word-break: break-all; 
}

#messages li:nth-child(odd) { 
	background: #eee; 
}

#form { 
	background: whitesmoke;
	position: fixed; 
	width: 24%;
	bottom: 0; 
}

#form input { 
	width: 73%;
	padding: 2px;
}

#form button { 
	background: #da0b0b;
	color: whitesmoke;
	padding: 2px; 
	width: 25%;
}

#chatButton {
	background-image: url('/images/chat-icon.png');
	position: fixed;
	bottom: 20px; 
	right: 20px; 
	height: 76px; 
	width: 76px;
	border-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
	border-radius: 50px;
}

#chatSlideDown {
	background-image: url('/images/minimize-chat.png');
	border-radius: 50%;
	margin: 2px;
	float: right;
}

.navbar { 
	background-color: #da0b0b;
}

#chatButton:hover { 
	background-color: #0077ff;
}

#placeTankButton { 
	margin-top: 5px; 
}

#removeTankButton { 
	margin-top: 5px; 
}

#attackButton { 
	margin-top: 5px; 
}

#nextPhaseButton { 
	position: fixed;
	bottom: 20px;
	left: 20px;
	color: white;
	background-color: #da0b0b;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
	border-radius: 5px;
}

#placeTankButton:hover, #attackButton:hover, #removeTankButton:hover, #nextPhaseButton:hover { 
	background-color: orange; 
}

#container {  
    width: 100%; 
    height: 100%;
    margin-top: -2px;
    -webkit-animation-delay: 0.5s;
    -webkit-animation-duration: 3s; 
    -vendor-animation-delay: 0.5s; 
    -vendor-animation-duration: 3s;
    -moz-animation-delay: 0.5s;
    -moz-animation-duration: 3s;
}

#logInButton, #registerButton { 
	background-color: #da0b0b; 
	border-color: white;
}

#logInButton:hover, #startButton:hover, #registerButton:hover, #loginLink:hover, #registerLink:hover { 
	background-color: #ff4d4d; 
}

#chatButton:hover, #signedInAs:hover, #gameInfo:hover { 
	border: 2px solid orange;
}

#signedInAs {
	position: fixed;
	top: 15px;
	right: 30px;
	width: 50px;
	height: 50px;
	z-index: 2;
	text-align: center;
	color: white; 
	background-color: #da0b0b;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
	border-radius: 50%;
}

#signedInAsList { 
    position: fixed; 
    z-index: 1;
    list-style-type: none;
    top: 40px; 
    right: 50px; 
    width: 14%; 
    height: auto;
    display: table-cell;
    vertical-align: middle;
    padding: 2px;
	color: white;
	text-align: center;
    font-size: 12px;
    border: 1px solid whitesmoke;
    background-color: #da0b0b;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
	border-radius: 5px;
}

#gameInfo {
	background-image: url('/images/gameinfo-icon.png');
	background-position: -10% 50%; 
	position: fixed;
	top: 15px;
	left: 30px;
	width: 50px;
	height: 50px;
	z-index: 2;
	text-align: center;
	color: white; 
	background-color: #5ecaec;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
	border-radius: 50%;
}

#gameInfoList { 
    position: fixed; 
    z-index: 1;
    list-style-type: none;
    top: 40px; 
    left: 50px; 
    width: 14%; 
    height: auto;
    display: table-cell;
    vertical-align: middle;
    padding: 2px;
	color: white;
	text-align: center;
    font-size: 12px;
    border: 1px solid whitesmoke;
    background-color: #da0b0b;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
	border-radius: 5px;
}

#tekst_igre {
	position: fixed;
	bottom: 20px;
	font-size: 20px;
	padding: 5px;
	height: 49px;
	line-height: 38px;
	text-align: center; 
	color: white; 
	background-color: #da0b0b;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
	border-radius: 5px;
}

.naMapStrani {
	background-color: rgba(0, 0, 0, .0);
}

.blue { 
	color: blue;
}

.green {
	color: green;
}

.red{
	color: red;
}

.orange{
	color : orange;
}

.violet{
	color:  violet;
}

.yellow{
	color : yellow;
}

#gamePrepInfo {
	margin-top: 50px;
	text-align: center; 
	font-size: 40px; 
	color: white;
}

#riskImg {
	-webkit-animation-delay: 5s; 
	-vendor-animation-delay: 5s; 
	-moz-animation-delay: 5s;
	width: 100%;
	height: 75%;
	margin-left: 40px;
}

#loginLink {
	background-color: #da0b0b; 
	border-color: white; 
	-webkit-animation-delay: 7s; 
	-vendor-animation-delay: 7s; 
	-moz-animation-delay: 7s;
}

#registerLink {
	background-color: #da0b0b; 
	border-color: white; 
	margin-left: 50px;
	-webkit-animation-delay: 7s; 
	-vendor-animation-delay: 7s; 
	-moz-animation-delay: 7s;
}

#playerList { 
	list-style-type: none;
	text-align: center;
	font-size: 25px;
}
